block config
  .row.row-block
    .col.s12.m3.l3.col-title Config
    .col.s12.m9.l9 
      .row.sub-row-block info2
      .row.sub-row-block info2
      .row.sub-row-block info2
      .row.sub-row-block info2
