doctype html
html(ng-app="App")
	head
		title= title
		link(rel="stylesheet" href="/stylesheets/materialize.css")
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/media-queries.css')
	body
		block content
		script(src="/javascripts/angular.js")
		script(src="/javascripts/underscore.js")
		script(src="/javascripts/app-controller.js")
		script(src="/javascripts/game-service.js")